@import '../../../colors.scss';

.section_main {
  display: flex;
  color: $color-lightest;
  margin-bottom: 10vh;

  .hr_separator {
    margin: 10vh 0 10vh 20vw;
    display: flex;
  }

  .section_info {
    width: 100%;

    .article_main {
      line-height: 200%;
      margin: 0 5vw 10vh 5vw;

      .h1_title {
        margin: 10vh 0;
        font-size: calc(1vw + 1em);
      }

      .h2_subtitle {
        margin: 7vh 0;
        font-size: calc(0.6vw + 1em);
      }

      .p_parrafo {
        font-size: calc(0.2vw + 1em);
      }

      .image_container {
        display: flex;

        .image {
          object-fit: cover;
          max-width: 100%;
          margin: 0 auto;
        }
      }

      .container_pre {
        .pre_code {
          overflow-x: auto;
          background-color: #333;
        }
      }
    }
  }

  .div_container {
    width: 25vw;
  }
  @media (orientation: portrait) {
    .hr_separator,
    .div_container {
      display: none;
    }
  }
}
