@import '../colors.scss';

.section_main {
  .h1_title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    color: #d3d4d6;
    padding-top: 5%;
  }

  .section_routes {
    position: relative;
    height: 100%;
    margin: 2vh 5vw;

    .article_hr_container {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      height: 100%;
      display: flex;
      z-index: -1;
    }

    .article_main {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .article_route {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .div_empty {
          flex: 1;
        }

        .div_circle {
          flex: 1;
          border: 1px solid #d3d4d6;
          background-color: $color-darkest;
          width: 3vw;
          height: 3vw;
          border-radius: 50%;
          margin: 0 20px;
          transition: background-color ease-out .5s;

          &:hover {
            cursor: pointer;
            background-color: $color-lightest;
          }
          // &:not(:first-child) {
          //   margin-top: 10vw;
          // }
        }

        .article_p_main {
          position: relative;
          flex: 1;

          &.visible {
            opacity: 1;
            transition: opacity 0.5s ease, max-height 0.5s ease;
          }

          &.hidden {
            opacity: 0;
            overflow: hidden;
            transition: opacity 0.5s ease, max-height 0.5s ease;
          }

          .article_p_container{

            border-radius: 20px;
            padding: 1vw;
            width: 40%;
            border: 1px solid;
            color: $color-darkest;
            background-color: $color-lightest;
          
          }     
        }
      }
    }
  }
}
